<p-panel header="Numeric Pipes" class="p-1">
  <p>
    Pipes included in Angular - Usually in Common Module
  </p>
</p-panel>


<div class="grid">

  <div class="col-12 md:col-4">

    <p-card header="Net Sales" subheader="for the current year">
      {{totalSells + 10000 | number:'1.8-8'}}
    </p-card>

  </div>

  <div class="col-12 md:col-4">

    <p-card header="Gross Sales" subheader="for the current year">
      {{totalSells | currency:'COP':'symbol-narrow':'1.4-4'}}
    </p-card>

  </div>

  <div class="col-12 md:col-4">

    <p-card header="Percentage gain" subheader="for the current year">
      {{percent | percent:'1.5-5'}}
    </p-card>

  </div>

</div>
